// CSS framework for COVID-19 HIMS
// Copyright 2021 - Rukshan Ranatunge <arkruka@gmail.com>

@import "imports.scss";
@import "colors.scss";
@import "overrides.scss";
@import "utilities.scss";
@import "tables.scss";
@import "icons.scss";

html, body, * {
    font-family: "Noto Sans JP",sans-serif !important;
}

body {
    background-color: $body;
}

.btn-dark-success {
    background-color: $dark-green;
}

.btn-dark-warning {
    background-color: $dark-yellow;
}

.btn-dark-danger {
    background-color: $dark-red;
}

@media print {
    body {
        background: white !important;
        margin: 0;
        padding: 0;
        font-size: 9pt !important;
    }

    .navbar, .sidebar, .d-print-none, nav, header,
    .ui-paginator, .ui-datatable-header {
        display: none !important;
    }

    .card {
        border: none !important;
        box-shadow: none !important;
    }

    .card-body {
        padding: 0 !important;
    }

    table {
        border-collapse: collapse !important;
        font-size: 8pt !important;
    }

    th, td {
        border: 1px solid #333 !important;
        padding: 2px 4px !important;
        background: white !important;
        color: black !important;
        font-size: 8pt !important;
    }

    th {
        font-weight: bold !important;
        background: #f0f0f0 !important;
    }
}